ultralytics
torch
torchvision
onnx>=1.12.0,<2.0.0
onnxruntime
onnxslim>=0.1.71
jsonschema
pytest
tensorflow>=2.0.0,<=2.19.0
tf_keras<=2.19.0
sng4onnx>=1.0.1
onnx_graphsurgeon>=0.3.26
ai-edge-litert>=1.2.0
onnx2tf>=1.26.3,<1.29.0
protobuf>=5
ncnn
pnnx
